*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
   
}
body{
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
   
}
nav{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_links{
    list-style: none;
    display: flex;
    margin-right: 20px;
}
nav .nav_links li{
    padding: 0 20px;
}
nav .nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav .nav_links li a:hover{
    color: #3d0a0a;
    transition: color 0.5s;
}
.logo{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color:#4d0303
}
li span{
     color: #3d0a0a;
}


.home{
    background-image: url(../images/adopt.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.home h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: #3d3b3b 2px 2px 4px;
}
.home p{
    font-size: 20px;
    margin-bottom: 30px;
}
.btn{
    padding: 12px 25px;
    font-size: 15px;
    color: white;
    background-color: #4d0303;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   
}
.btn:hover{
    background-color: #a5a0a0;
    transition: background-color 0.5s;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translatex(-100px);
       

    }
    to{
        opacity: 1;
        transform: translatex(0px);
    }
    
    
}
h2,h3,.review_container, .img_box{ 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry  cover 40%;


}

.adoption{
    padding: 50px;
    text-align: center;
    
 
}
.adoption h2{
    font-size: 30px;
    margin-bottom: 40px;
    text-shadow: #a5a0a0 2px 2px 4px;
   
}
.adoption .img_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
 
   
}
 .img_box{
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: 23%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1); 
    cursor: pointer;
   
   
}

i{
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

#humb{
    display: none;
}

.img_box h3{
    margin: 10px 0;
}
.img_box img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.img_box:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.btn a{
    text-decoration: none;
    color: white;
}

.reviews h2 {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: #464545 2px 2px 4px;

}

.review_container{
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 3%;
    
}
.review_container div:nth-child(2){
    background-color: #430e0e;
    color: rgb(0, 0, 0);
}
.reviews .review_box{
    width: 43%;
    height: 250px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: rgb(73, 70, 70);
    padding: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: rgb(0, 0, 0);
}
.review_box:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    color: white;
    background-color: black;

}
.review_box img{
    width: 100%;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.review_box p{
    padding: 0 10px;
}






footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}



/* Media Queries */

@media (max-width: 900px){
    
    .img_box{
        width: 48%;
    }
  
    .home h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.home p{
    font-size: 16px;
    margin-bottom: 15px;
}

}
 /* phone */
@media (max-width: 600px){
    .img_box{
        width: 100%;
        border-radius: 20px;
    }
    .img_box img{
        border-radius: 15px;
    }
    .home h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.home p{
    font-size: 14px;
    margin-bottom: 10px;

}
.logo{
    font-size: 20px;
    margin-left: 10px;
}
 .nav_links li a {
    font-size: 15px;
    padding: 0 5px;

} 
.img_box p{
    display: none;
}

.reviews .review_box{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }
.review_container{
    padding: 10px;
    display: block;
}
nav{
    display: flex;
    justify-content:flex-start;
    padding: 0 10px;
}
#humb{
    display: block;
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
}

 header .fa-bars ,#humb{
        display: block;
    }
    
    header .nav_links{
        position:absolute;
        top: 100%; left:0; right: 0;
        border-top: .1rem solid rgb(0, 0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #humb:checked ~ .nav_links{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .nav_links a{
         margin: 1.5rem;
         padding: 1.5rem;
         border: .1rem solid rgb(0, 0,0,.1);  ;
         display: block;
         background-color: #0a0374;
         border-radius: 1rem;
    }






.logo{
    margin-left: 10px;
    
}

li,ul,#cart{
    display: none;
}
}